<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>696BF0AF-FFD8-4B70-8F2E-C9B8920B2EC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AE18817-823E-4E57-8956-20D3BF3C8CF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>89E83845-FC49-496E-AB5B-B76720BEB09E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A61FBF1B-28B1-4BB8-85B3-E17850684C18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AE18817-823E-4E57-8956-20D3BF3C8CF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B1A80DA2-4BB5-4AE0-BCC4-E0859020AA51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DBAF63D5-70FE-405D-ABE3-ECF06E2709AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF6D8B64-F30A-4A5F-A441-D2A3D7F75ADD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F558C713-E4A5-4AAC-A0A6-BBC219910EE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ACB7EDF-EB58-4261-AB4A-DE5995D5DD09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Peter Rogers</string>
	<key>description</key>
	<string>Tools for adjusting the selected or proximal text.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Text-Processing Hotkeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>"*" "*"</string>
				<key>hotkey</key>
				<integer>28</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>8</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>89E83845-FC49-496E-AB5B-B76720BEB09E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>114</integer>
				<key>script</key>
				<string>/usr/bin/python TagText.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>"(" ")"</string>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DBAF63D5-70FE-405D-ABE3-ECF06E2709AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>"_" "_"</string>
				<key>hotkey</key>
				<integer>27</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>_</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B1A80DA2-4BB5-4AE0-BCC4-E0859020AA51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>'"' '"'</string>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EF6D8B64-F30A-4A5F-A441-D2A3D7F75ADD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>114</integer>
				<key>script</key>
				<string>/usr/bin/python AlterText.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2AE18817-823E-4E57-8956-20D3BF3C8CF2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>--hyphenate</string>
				<key>hotkey</key>
				<integer>27</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>-</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A61FBF1B-28B1-4BB8-85B3-E17850684C18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>--hashtag</string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>696BF0AF-FFD8-4B70-8F2E-C9B8920B2EC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>--toggle</string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F558C713-E4A5-4AAC-A0A6-BBC219910EE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>114</integer>
				<key>script</key>
				<string>/usr/bin/python CapsText.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5ACB7EDF-EB58-4261-AB4A-DE5995D5DD09</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2AE18817-823E-4E57-8956-20D3BF3C8CF2</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>5ACB7EDF-EB58-4261-AB4A-DE5995D5DD09</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>696BF0AF-FFD8-4B70-8F2E-C9B8920B2EC9</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>89E83845-FC49-496E-AB5B-B76720BEB09E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A61FBF1B-28B1-4BB8-85B3-E17850684C18</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>B1A80DA2-4BB5-4AE0-BCC4-E0859020AA51</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>DBAF63D5-70FE-405D-ABE3-ECF06E2709AA</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>EF6D8B64-F30A-4A5F-A441-D2A3D7F75ADD</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F558C713-E4A5-4AAC-A0A6-BBC219910EE9</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://peterrogers.info</string>
</dict>
</plist>
