<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>89E83845-FC49-496E-AB5B-B76720BEB09E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B1A80DA2-4BB5-4AE0-BCC4-E0859020AA51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Features ported from AHK</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Peter's AHK Replacement</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>"*" "*"</string>
				<key>hotkey</key>
				<integer>28</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>8</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>89E83845-FC49-496E-AB5B-B76720BEB09E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>122</integer>
				<key>script</key>
				<string>/usr/bin/python ProcessSelectedString.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>"_" "_"</string>
				<key>hotkey</key>
				<integer>27</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>_</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B1A80DA2-4BB5-4AE0-BCC4-E0859020AA51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>52CF6306-C7C2-46D1-9771-3CDEAFEA95BC</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>89E83845-FC49-496E-AB5B-B76720BEB09E</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>B1A80DA2-4BB5-4AE0-BCC4-E0859020AA51</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
